body{
	background: url("/images/clouds.jpg") no-repeat center center fixed; 
}
.banner{
	width: 60%;
	padding: 0 20% 0 20%;
	max-width: 800px;
	margin: 5px 0 5px 0;
}
.content {
    min-height: 200px;
}
@media (min-width: 800px) {
    .content {
        display: table-cell;
        width: 50%;
		padding: 1%;
    }
}

.imgbar {
    min-height: 200px;
}
.header {

}
@media (min-width: 800px) {
    .header{
        display: table-cell;
        width: 60%;
		padding: 1%;
    }
}

.logo{
	width: 80%;
	padding: 0 10% 0 10%;
}
@media (min-width: 800px) {
    .logo{
		max-width: 400px;
		padding: 0;
    }
}


.navbar {
    min-height: 50px;
	text-align: right;
}

@media (min-width: 800px) {
    .navbar{
        display: table-cell;
        width: 40%;
		padding: 1%;
    }
}

.navlist {
    min-height: 200px;
}
@media (min-width: 800px) {
    .navlist {
        display: table-cell;
        width: 15%;
		padding: 1%;
    }
}


@media (min-width: 800px) {
	.wrapper {
        height: 200px;
        width: 100%;
        display: table;
    }
}



@media (min-width: 800px) {
	.mobile_hide{
		visibility: show;
	}
	.mobile_show{
		visibility: hidden;
	}
	
}

@media (max-width: 800px){
	.mobile_hide{
		visibility: hidden;
	}
	.mobile_show{
		visibility: show;
	}
}